@use '../abstracts/variables' as var;


.container{
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 1rem;
    position: relative;
    &::before{
        content: "";
        position: absolute;
        background-color: var.$color-grey;
        width: 620px;
        height: 925px;
        z-index: -1;
        right: 0;
    }
}